{% extends 'base.html' %}

{% block title %} PICK YOUR FAVORITE STOCKS {% endblock %}    
 
{% block body %}

    <p>
    Hi {{username}}! Choose companies that you love
    </p>

      <form action="{{ url_for('add_subscription') }}" method="POST"> 
        {% for stock in all_stocks: %}
        <div>
          <input type="checkbox" id="{{stock.symbol}}" name="stocknames" value="{{stock.symbol}}">
          <label for="{{stock.symbol}}">{{stock.name}}</label>
          <a href='/stockdetails/{{stock.symbol}}'>See more details</a>
        </div>
        {% endfor %}

        <a href="/plans">See more details on subscription plans &raquo;</a>

        <label for="plan-select">CHOOSE SUBSCRIPTIONS:</label>
        <select name="plans" id="plan-select">
            <option value="">--Please choose an option--</option>
            <option value="starter">Starter</option>
            <option value="pro">Pro</option>
            <option value="premium">Premium</option>
        </select>
        <input type="submit">
      </form>
        
<h1>Go Back to dashboard</h1>

<a href="/dashboard" class='dashboard'>Back to dashboard</a>

<!-- <script>
function saveForm() {
  var stocks = document.forms["stocknames"].value;
    print(stocks);
    return stocks
  }
</script>  -->

{% endblock %} 