{% extends 'base.html' %}

{% block title %} My Subscription {% endblock %}     

{% block body %}
 
<header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
  <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
    <img id="logo" src="static/img/logo-color.png" class="float-md-start mb-0" width=100 height=100>
  </a>

  <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
    <a class="me-3 py-2 text-dark text-decoration-none" href="/dashboard">Dashboard</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="/searchstock">Stocks</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Learning</a>
    <a class="me-3 py-2 text-dark text-decoration-none" href="/event">Events</a>
    <a class="py-2 text-dark text-decoration-none" href="mailto:gabriella@plenti.ai">Contact Us</a>
  </nav>
</header>

  <!-- Marketing messaging and featurettes
  ================================================== -->
  <!-- Wrap the rest of the page in another container to center all the content. -->

  <h1 class="display-4 fw-normal plenti-h1">Hi {{username}}! Choose companies</h1>


    <!-- <form action="{{ url_for('add_subscription') }}" method="POST"> 
      {% for stock in all_stocks: %}
      <div>
        <input type="checkbox" id="{{stock.symbol}}" name="stocknames" value="{{stock.symbol}}">
        <a href="/stockdetails/{{stock.symbol}}">{{stock.name}}</a>
      </div>
      {% endfor %} -->
      <div class="container marketing">
        
        <!-- Three columns of text below the carousel -->
      <form action="/addsubscription" method="POST">
        <div class="plenti-stocks">
          <div class="row row-cols-3 row-cols-md-3 g-4">
            
            {% for stock, stock_detail in all_stocks: %}
              <div class="col"> 
                <div class="card plenti-stock">
                  <img class="bd-placeholder-img rounded-circle" width="140" height="140" src="{{stock_detail.logo}}" />

                  <span>{{stock_detail.name}}</span>
                  <!-- <p>{{stock.description}}</p> -->
                  <p><a class="btn btn-secondary" href="/stockdetails/{{stock.symbol}}">View details &raquo;</a></p>
                  <input type="checkbox" id="{{stock_detail.symbol}}" name="stocknames" value="{{stock_detail.symbol}}">
                </div>
              </div>
            {% endfor %}
                
            </div>
        </div>              
  
        <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
            <h1 class="display-4 fw-normal">Plan Details</h1>
        </div>
        <div class="container marketing">

          <main>
            <div class="row row-cols-1 row-cols-md-3 mb-3 text-center">
              <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                  <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Beginner</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">$20<small class="text-muted fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>Choose 5 stocks</li>
                      <li>Access content library</li>
                      <li>Email support</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm">
                  <div class="card-header py-3">
                    <h4 class="my-0 fw-normal">Pro</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">$50<small class="text-muted fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>All of Beginner coverage</li>
                      <li>Swap stock during the month</li>
                      <li>Priority email support</li>
                    </ul>
                  </div>
                </div>
              </div>
              <div class="col">
                <div class="card mb-4 rounded-3 shadow-sm border-primary">
                  <div class="card-header py-3 text-white bg-primary border-primary">
                    <h4 class="my-0 fw-normal">Premium</h4>
                  </div>
                  <div class="card-body">
                    <h1 class="card-title pricing-card-title">$100<small class="text-muted fw-light">/mo</small></h1>
                    <ul class="list-unstyled mt-3 mb-4">
                      <li>All of Pro coverage</li>
                      <li>Exclusive events</li>
                      <li>Phone and email support</li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
            
                  <!--CHOOSE SUBSCRIPTION-->
            <label for="plan-select">Choose plans:</label>
            <select name="plans" id="plan-select">
                <option value="">--Please choose an option--</option>
                <option value="starter">Starter</option>
                <option value="pro">Pro</option>
                <option value="premium">Premium</option>
            </select>
            <input type="submit">
          </form>

          <h1><a href="/searchstock" class='search'>Search more stocks</a></h1>
      
    <!-- START THE FEATURETTES -->

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">First featurette heading. <span class="text-muted">It’ll blow your mind.</span></h2>
        <p class="lead">Some great placeholder content for the first featurette here. Imagine some exciting prose here.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7 order-md-2">
        <h2 class="featurette-heading">Oh yeah, it’s that good. <span class="text-muted">See for yourself.</span></h2>
        <p class="lead">Another featurette? Of course. More placeholder content here to give you an idea of how this layout would work with some actual real-world content in place.</p>
      </div>
      <div class="col-md-5 order-md-1">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <div class="row featurette">
      <div class="col-md-7">
        <h2 class="featurette-heading">And lastly, this one. <span class="text-muted">Checkmate.</span></h2>
        <p class="lead">And yes, this is the last block of representative placeholder content. Again, not really intended to be actually read, simply here to give you a better view of what this would look like with some actual content. Your content.</p>
      </div>
      <div class="col-md-5">
        <svg class="bd-placeholder-img bd-placeholder-img-lg featurette-image img-fluid mx-auto" width="500" height="500" xmlns="http://www.w3.org/2000/svg" role="img" aria-label="Placeholder: 500x500" preserveAspectRatio="xMidYMid slice" focusable="false"><title>Placeholder</title><rect width="100%" height="100%" fill="#eee"/><text x="50%" y="50%" fill="#aaa" dy=".3em">500x500</text></svg>

      </div>
    </div>

    <hr class="featurette-divider">

    <!-- /END THE FEATURETTES -->

  </div><!-- /.container -->


  <!-- FOOTER -->
  <footer class="container">
    <p class="float-end"><a href="#">Back to top</a></p>
    <p>&copy; 2017–2021 Company, Inc. &middot; <a href="#">Privacy</a> &middot; <a href="#">Terms</a></p>
  </footer>
</main>

  </body>
</html>
{% endblock %}