{% extends 'base.html' %}

{% block title %} Price Chart {% endblock %}    
 
{% block body %}

<div>
  <canvas id="myChart"></canvas>
  
</div>

<script>
const priceData = {{ price_data | tojson }}

// const labels = 

const data = {
  labels: [],
  datasets: [{
    label: 'Price chart',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data: priceData, // from const priceData = {{ price_data | tojson }}
  }]
};

const config = {
  type: 'line',
  data,
  options: {}
};

var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

{% endblock %}