{% extends 'base.html' %}

{% block title %} Chart.js Example {% endblock %}    
 
{% block body %}

<div>
  <canvas id="myChart"></canvas>
  
</div>

<script>
const priceData = {{ price_data | tojson }}
console.log(priceData)

// priceDataList[0].close

const labels = [
  '2021-04-23',
  '2021-04-22',
  '2021-04-21',
  '2021-04-20',
  '2021-04-19',
];
const data = {
  labels: labels,
  datasets: [{
    label: 'Price chart',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data: priceData, // from const priceData = {{ price_data | tojson }}
  }]
};

const config = {
  type: 'line',
  data,
  options: {}
};

var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

{% endblock %}