{% extends 'base.html' %}

{% block title %} Chart.js Example {% endblock %}    
 
{% block body %}

<div>
  <canvas id="myChart"></canvas>
</div>

<script>

// // AJAX:
// // $.get(url, options:dictionary(format of the data), callback(success function)) =>
//     $.get(url, options, (res) => {
//       res = Result I get back from API
//       res.numbers (accessing a particular value within the json response)
//     })



const labels = [
  'January',
  'February',
  'March',
  'April',
  'May',
  'June',
];
const data = {
  labels: labels,
  datasets: [{
    label: 'My First dataset',
    backgroundColor: 'rgb(255, 99, 132)',
    borderColor: 'rgb(255, 99, 132)',
    data: [0, 10, 5, 2, 20, 30, 45],
  }]
};

const config = {
  type: 'line',
  data,
  options: {}
};

var myChart = new Chart(
    document.getElementById('myChart'),
    config
  );
</script>

{% endblock %}