{% extends 'base.html' %}

{% block title %}Dashboard{% endblock %}

{% block body %}

  Hi {{username}}! Welcome to your dashboard!
  <a href="/myprofile">My Profile</a>
  <a href="/mysubscription">My Subscription</a>
  <a href="/mystocks">My Stocks</a>

  <!--vertical tabs-->
  <div class="tab">
    <button class="tablinks" onclick="openCity(event, 'London')">My Profile</button>
    <button class="tablinks" onclick="openCity(event, 'Paris')">My Subscription</button>
    <button class="tablinks" onclick="openCity(event, 'Tokyo')">My Stocks</button>
  </div>
  
  <div id="London" class="tabcontent">
    <a href="/myprofile">My Profile</a>
  </div>
  
  <div id="Paris" class="tabcontent">
    <a href="/mysubscription">My Subscription</a>
  </div>
  
  <div id="Tokyo" class="tabcontent">
    <a href="/mystocks">My Stocks</a>
  </div>

  <script>
    function openCity(evt, cityName) {
  // Declare all variables
  var i, tabcontent, tablinks;

  // Get all elements with class="tabcontent" and hide them
  tabcontent = document.getElementsByClassName("tabcontent");
  for (i = 0; i < tabcontent.length; i++) {
    tabcontent[i].style.display = "none";
  }

  // Get all elements with class="tablinks" and remove the class "active"
  tablinks = document.getElementsByClassName("tablinks");
  for (i = 0; i < tablinks.length; i++) {
    tablinks[i].className = tablinks[i].className.replace(" active", "");
  }

  // Show the current tab, and add an "active" class to the link that opened the tab
  document.getElementById(cityName).style.display = "block";
  evt.currentTarget.className += " active";
}
  </script>

{% endblock %}