{% extends 'base.html' %}

{% block title %} Welcome to Plenti {% endblock %}     

{% block head %}<link href="/static/css/dashboard.css" rel="stylesheet">{% endblock %}

{% block body %}

    <header class="navbar sticky-top flex-md-nowrap p-0 shadow plenti-nav">
      <a class="navbar-brand col-md-3 col-lg-2 me-0 px-3" href="/"><img id="logo" src="static/img/logo-color.png" class="float-md-start mb-0" width=80 height=80></a>
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto plenti-nav-2">
        <a class="me-3 py-2 text-white text-decoration-none" href="#">Dashboard</a>
        <a class="me-3 py-2 text-white text-decoration-none" href="/allstocks">Stocks</a>
        <a class="me-3 py-2 text-white text-decoration-none" href="/blog">Learning</a>
        <a class="me-3 py-2 text-white text-decoration-none" href="/">Events</a>
        <a class="py-2 text-white text-decoration-none" href="/contact">Contact Us</a>
      </nav>
    </header>

  <div class="container-fluid plenti-container">
    <div class="row">
      <nav id="sidebarMenu" class="col-md-3 col-lg-2 d-md-block bg-light sidebar collapse plenti-sidebar">
        <div class="position-sticky pt-3">
          <ul class="nav flex-column">
            
            <li class="nav-item">
              <a class="nav-link" href="/user/{{username}}">
                <span data-feather="file"></span>
                My Profile
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/subscription/{{username}}">
                <span data-feather="shopping-cart"></span>
                My Subscription
              </a>
            </li>
            <li class="nav-item">
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="{{url_for ('view_all_stocks')}}">
                <span data-feather="home"></span>
                Select Stocks
              </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" aria-current="page" href="/searchstock">
                <span data-feather="home"></span>
                Search stocks
              </a>
            </li>
          </ul>

          <h6 class="sidebar-heading d-flex justify-content-between align-items-center px-3 mt-4 mb-1 text-muted">
            <span>My Favorites</span>
            <a class="link-secondary" href="#" aria-label="Add a new report">
              <span data-feather="plus-circle"></span>
            </a>
          </h6>
          <ul class="nav flex-column mb-2">
            <li class="nav-item">
              {% for f in favorites %}
                <a class="nav-link" href="/stockdetails/{{f.symbol}}">
                  <span data-feather="file-text"></span>
                  {{f.symbol}}
                </a>
              {% endfor %}
            </li>
          </ul>
        </div>
      </nav>
      
    </div>
 

      <main class="col-md-9 ms-sm-auto col-lg-10 px-md-4">
        <div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
          <h1 class="plenti-dashboard-h1">{{username}}'s Dashboard</h1>
          <form id='price-chart' name='price-chart' action="/chartupdate">
            <label for="symbol" class="plenti-dashboard-h3">Stock Symbol:</label><br>
            <input type="text" id="symbol" name="symbol"><br> 
            <label for="range" class="plenti-dashboard-h3">Choose a date range:</label>
            <select id="date_range" name="date_range" class="plenti-dashboard-h3">
              <option value="week">Previous Week</option>
              <option value="month">Previous Month</option>
              <option value="quarter">Previous Quarter</option>
            </select>
            <input type="submit" value="submit" class="btn btn-secondary">
          </form>
        </div>
           
        <!--PRICE CHART-->
        <div id='newChartDiv'><canvas class="my-4 w-100" id="myChart" width="900" height="380"></canvas></div>
        <!--MAP-->

        <h2 class="plenti-dashboard-h1 border-bottom">Company Headquarter Map</h2>
        
        <!--The div element for the map -->
          <div id="map" style="height: 480px;"></div>
         
         <!-- <div id="map"></div> -->
      
         <footer class="footer mt-auto py-3 text-muted">
          <div class="container">
            <p>@Built at <a href="https://hackbrightacademy.com/" class="footer">Hackbright</a>, by <a href="https://www.linkedin.com/in/gabriellahsavage/" class="footer">Gabriella Savage</a>.</p>
          </div>
        </footer>

      </main>

     
    </div>
  

<script>
  $('#price-chart').on('submit', (evt) => {
    evt.preventDefault();

  // Get user input from a form
  const formData = {
    symbol: $('#symbol').val(),
    date_range: $('#date_range').val()
  };

  // Send formData to the server (becomes a query string)
  $.get('/chartupdate', formData, (res) => {
    // Display response from the server
    const priceData = res;
    var priceData_js = JSON.parse(priceData)

    const data = {
      labels: [],
      datasets: [{
        label: 'Price chart',
        backgroundColor: 'rgb(255, 99, 132)',
        borderColor: 'rgb(255, 99, 132)',
        data: priceData_js, 
      }]
    };

    const config = {
      type: 'line',
      data,
      options: {}
    };

    var oldChart = document.getElementById("myChart");
    oldChart.remove();
    
    var newChart = document.createElement("CANVAS");
    newChart.setAttribute('id', 'myChart');

    const divChart = document.getElementById('newChartDiv');
    divChart.appendChild(newChart);

    var myChart = new Chart(
        document.getElementById('myChart'),
        config
      );
    });


  // map
    console.log(formData);
    $.get('/mapupdate', formData, (res) => {
      initialize(res);
    });
});

var latLng_js = { lat: 37.744, lng: -122.419 };
var map = null;

function initialize(marker=false) {
  var latlng = latLng_js;
  var mapOptions = {
    zoom: 8,
    center: latlng
  }
  map = new google.maps.Map(document.getElementById('map'), mapOptions);
  if(marker) {
    const markerMap = new google.maps.Marker({
      position: marker,
      map: map,
    });
  }
};
</script>

<script
  src="https://maps.googleapis.com/maps/api/js?key=AIzaSyCGBE_HYW8qt3BnNFW3gKoYb2GWHDThAt8&callback=initialize&libraries=&v=weekly"
  async
></script>



{% endblock %}