{% extends 'base.html' %}

{% block title %}Plenti{% endblock %}
{% block body %}


<body class="d-flex h-100 text-center text-white bg-dark">
    
  <div class="cover-container d-flex w-100 h-100 p-3 mx-auto flex-column">
    <header class="mb-auto">
      <div>
        <img id="logo" src="static/img/logo-color.png" class="float-md-start mb-0">

    <!--Navbar-->
        <nav class="nav nav-masthead justify-content-center float-md-end">
          <a href = "/login" class="nav-link" >Login</a>
          <a href = "/signup" class="nav-link">Get Started</a>
          <a href = "mailto:gabriella@plenti.ai" class="nav-link">Email Us</a>
        </nav>
      </div>
    </header>
  
    <!--Hero section-->
    <main class="px-3">
      <h1>Creating abundance one stock at a time</h1>
      <p class="lead">We make investing easy, consistent, and social</p>

    </main>

<style>
  
#logo {
  width: 150px;
  height: 120px
}

</style>

{% endblock %}
