{% extends 'base.html' %}

{% block title %} Welcome to Plenti {% endblock %}     

{% block body %}

<h2><img src="static/img/Plenti_logo.png">Welcome Back</img></h2>
  
  <main class="form-signin">
    <form action='/api/users/login'>
      <h1 class="h3 mb-3 fw-normal">Please sign in</h1>

      <div class="form-floating">
          <input type="email" class="form-control" id="email" placeholder="name@example.com">
          <label for="floatingInput">Email address</label>
      </div>
      <div class="form-floating">
          <input type="password" class="form-control" id="password" placeholder="Password">
          <label for="floatingPassword">Password</label>
      </div>
  
      <div class="checkbox mb-3">
        <label>
          <input type="checkbox" value="remember-me"> Remember me
        </label>
      </div>
      <button class="w-100 btn btn-lg btn-primary" type="submit">Sign in</button>
      <p class="mt-5 mb-3 text-muted">&copy; @Made at Hackbright with love</p>
    </form>
  </main> 

{% endblock %}