{% extends 'base.html' %}

{% block title %} Chart.js Example {% endblock %}    
 
{% block body %}


<!--Make sure the form has the autocomplete function switched off:-->

<section class="bgimage">
    <div class="container-fluid">
        <form action="/searchstock" method="POST">
            <div class="d-flex justify-content-center h-100">
                <div class="search"> 
                    <input id="symbol" name="symbol" type="text" class="search-input" placeholder="search stock symbol..." > 
                    <input type="submit"> 
            </div>
        </form>
      </div>
    </div>
  </section>


<style>
    body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
    /* background: #423255 !important */
}

.search {
    margin-bottom: auto;
    margin-top: 200px;
    height: 70px;
    background-color: #fff;
    padding: 10px
}

.search-input {
    color: white;
    border: 0;
    outline: 0;
    background: none;
    width: 0;
    margin-top: 5px;
    caret-color: transparent;
    line-height: 40px;
    transition: width 0.4s linear
}

.search .search-input {
    padding: 0 10px;
    width: 550px;
    caret-color: #12BFD2;
    font-size: 21px;
    font-weight: 300;
    color: black;
    transition: width 0.4s linear
}

.search:hover>.search-icon {
    background: #1A237E;
    color: #fff
}

.search-icon {
    height: 50px;
    width: 50px;
    float: right;
    display: flex;
    justify-content: center;
    align-items: center;
    color: white;
    background-color: #536bf6
}

a:link {
    text-decoration: none
}

.bgimage {
  width:100%;
  height:800px;
  background: url('/static/img/search-stock.jpg');
  background-repeat: no-repeat;
  background-position: center;
  background-size:cover;
  background-attachment: fixed;
}
.bgimage h5 {
  color:white;
  text-shadow:2px 2px #333;
}

</style>
{% endblock %}
