{% extends 'base.html' %}

{% block title %} Stock Details {% endblock %}     

{% block body %} 

<!-- Hi {{username}} -->
<div class="container py-3">
    <header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img id="logo" src="static/img/logo-color.png" class="float-md-start mb-0" width=100 height=100>
      </a>
  
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/dashboard">Dashboard</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/allstocks">Stocks</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Learning</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/event">Events</a>
        <a class="py-2 text-dark text-decoration-none" href="#">Contact Us</a>
      </nav>
    </header>

    <h1>{{stock.name or stock_detail["name"]}}</h1>
    <img src="{{stock_detail['logo']}}"/>

    <a href='/price-chart/{{stock.symbol}}'>Price Chart</a>

    {% if fav_status == False: %}
      <form action="/favorites/{{stock.symbol}}", method='POST'>
        <input type="hidden" name="fav-action" value="add">
        <button class="favorite styled"
          type="submit">Add to favorites</button>         
      </form>
    {% endif %}

    {% if fav_status == True: %}
      <form action="/favorites/{{stock.symbol}}", method='POST'>
        <input type="hidden" name="fav-action" value="remove">
        <button class="favorite styled"
        type="submit">Remove from favorites</button> 
    </form>
    {% endif %}

<table class="table">
  <thead>
    <tr>
      <th scope="col" >Metric</th>
      <th scope="col" width=1000>Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Description</th>
      <td>{{stock.description or stock_detail["description"]}}</td>
    </tr>
    <tr>
      <th scope="row">Industry</th>
      <td>{{stock.industry or stock_detail["industry"]}}</td>
    </tr>
    <tr>
        <th scope="row">Currency</th>
        <td colspan="2">{{stock_detail["exchange"]}}</td>
      </tr>
      <tr>
        <th scope="row">Country</th>
        <td colspan="2">{{stock_detail["country"]}}</td>
      </tr>
      <tr>
        <th scope="row">Market Cap</th>
        <td colspan="2">{{stock_detail["marketcap"]}}</td>
      </tr>
      <tr>
        <th scope="row">Employees</th>
        <td colspan="2">{{stock_detail["employees"]}}</td>
      </tr>
      <tr>
        <th scope="row">Company Website</th>
        <td colspan="2">{{stock_detail["url"]}}</td>
      </tr>
      <tr>
        <th scope="row">HQ Address</th>
        <td colspan="2">{{stock_detail["hq_address"]}}</td>
      </tr>
      <tr>
        <th scope="row">HQ State</th>
        <td colspan="2">{{stock_detail["hq_state"]}}</td>
      </tr>
      <tr>
        <th scope="row">Tags</th>
        <td colspan="2">{{stock_detail["tags"]}}</td>
      </tr>
      <tr>
        <th scope="row">Similar</th>
        <td colspan="2">{{stock_detail["similar"]}}</td>
      </tr>
      
      {% for news in stock_news_data: %}
      <tr>
        <th scope="row"><img src="{{news.get('image')}}" width=100 height=100/></th>
        <td colspan="2">{{news["title"]}}</td>
          <a src="{{news['url']}}"></a>
        <td colspan="2">{{news["url"]}}</td>
        <td colspan="2">{{news["summary"]}}</td>
      </tr>
      {% endfor %}

  </tbody>
</table>

{% endblock %}