{% extends 'base.html' %}

{% block title %} PICK YOUR FAVORITE STOCKS {% endblock %}    
 

{% block body %}

<div>
    <h1>Pick your subscriptions</h1>
    <p>Decide how much you want to invest each month</p>
  </div>
  
  <div>
    <div>
      <h2>Beginner</h2>
      <p>$20/month</p>
      <p>Invest 2 Uber rides worth of money each month into a portfolio of your favorite brands.
      </p>
      <p>Access our library of investing and personal finance content for free.</p>
    </div>
  
    <div>
      <h2>Premium</h2>
      <p>$50/month</p>
      <p>Build solid investment muscle with consistent efforts that grows with time.</p>
      <p>
          Access additional stock options.
      </p>
    </div>
  
    <div>
      <h2>Pro</h2>
      <p>$100/month</p>
      <p>Girlboss status and we are all for it.</p>
      <p>
          Access our live support to help answer any questions.
      </p>
    </div>
  </div>

  <a href="/checkout"><button>Check out</button></a>

  {% endblock %} 