{% extends 'base.html' %}

{% block title %} My Subscription {% endblock %}     

{% block head %}<link href="/static/css/user.css" rel="stylesheet">{% endblock %}

{% block body %}

<div class="container py-3">
    <header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <img id="logo" src="/static/img/logo-color.png" class="float-md-start mb-0" width=100 height=100>
      </a>
  
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto plenti-nav-font">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/dashboard">Dashboard</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/allstocks">Stocks</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Learning</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/">Events</a>
        <a class="py-2 text-dark text-decoration-none" href="mailto:gabriella@plenti.ai">Contact Us</a>
      </nav>
    </header>
  
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal plenti-h1">{{user.username}}'s Membership</h1>
    </div>

<table class="table plenti-h3">
  <thead>
    <tr>
      <th scope="col">Metric</th>
      <th scope="col">Details</th>
    </tr>
  </thead>
  <tbody>
    <tr>
      <th scope="row">Plan Name</th>
      <td>{{plan.name}}</td>
    </tr>
    <tr>
      <th scope="row">Stocks per month</th>
      <td>{{plan.stocks_per_month}}</td>
    </tr>
    <tr>
      <th scope="row">Investment per month</th>
      <td>{{plan.investment_per_month}}</td>
    </tr>
    <tr>
      <th scope="row">Stocks in Subscription</th>
      <td>
        {% for symbol in symbols_in_subscription: %}
            <a href="/stockdetails/{{symbol}}">{{symbol}}</a>
          {% endfor %}
      </td>
    </tr>
    <tr>
      <th scope="row">Favorites</th>
      <td>
        {% for favorite in favorites: %}
            <a href="/stockdetails/{{favorite.symbol}}">{{favorite.symbol}}</a>
          {% endfor %}
      </td>
    </tr>
    
  </tbody>
</table>

{% endblock %}