{% extends 'base.html' %}

{% block title %} My profile {% endblock %}     

{% block head %}<link href="/static/css/user.css" rel="stylesheet">{% endblock %}

{% block body %}    
<div class="container py-3">
    <header class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom">
      <a href="/" class="d-flex align-items-center text-dark text-decoration-none">
        <image src="/static/img/logo-color.png" width=100 height=100></image>
      </a>
  
      <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto plenti-nav-font">
        <a class="me-3 py-2 text-dark text-decoration-none" href="/dashboard">Dashboard</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/allstocks">Stocks</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/blog">Learning</a>
        <a class="me-3 py-2 text-dark text-decoration-none" href="/event">Events</a>
        <a class="py-2 text-dark text-decoration-none" href="#">Contact Us</a>
      </nav>
    </header>
  
    <div class="pricing-header p-3 pb-md-4 mx-auto text-center">
      <h1 class="display-4 fw-normal plenti-h1">{{user.username}}'s profile</h1>
    </div>

<div class="card align-items-center plenti-h3">
  <img src="/static/img/users/GSav.png" alt="gabriella" class="bd-placeholder-img rounded-circle" width="200" >
  <h1>{{user.fname}} {{user.lname}} </h1>
  <p class="title">{{user.email}}</p>
  <p>{{user.address}}</p>
  <div style="margin: 24px 0;">
    <a href="https://www.instagram.com/codeitbabe/"><i class="fa fa-instagram"></i></a> 
    <a href="https://twitter.com/gabriella_codes"><i class="fa fa-twitter"></i></a>  
    <a href="https://www.linkedin.com/in/gabriellahsavage/"><i class="fa fa-linkedin"></i></a>  
  </div>
  <p><a href="/dashboard">Update my information
  </a></p>
</div>


{% endblock %}